.comentarios{
    background-color: $verde;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffffffb6;
    border-radius: 2rem;
    blockquote{
        padding-left: 5rem;
        position: relative;
        font-weight: lighter;
        &::before{
            content: "";
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            height: 8rem;
            width: 6rem;
            display: block;
            position: absolute;
            left: -2rem;
            top: 0;
        }
    }
    p{
        text-align: right;
        color: $blanco;
    }
}