.barra{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 3rem;
    align-items: center;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    a {
        display: flex;
        align-items: flex-end;
        span{
            font-size: 3rem;
            color: gold;
            margin: 0;
            padding: 0;
        }
    }
}

.navegacion{
    display: none;
    @include tablet{
        display: flex;
        align-items: center;
    }
    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        @include tablet{
            margin-right: 2rem;
            font-size: 1.8rem;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}
.navegacion-mobil{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    opacity: .88;
    background-color: black;
    z-index: 1;
    @include tablet{
        display: none;
    }
    a{
        display: block;
        color: $blanco;
        text-decoration: none;
        font-size: 3rem;
        z-index: 10;
    }
}
.navegacion-mobil-boton{
    width: 90%;
    display: flex;
    justify-content: flex-end;

    button{
        display: block;
        font-size: 30px;
        color: white;
        background-color: transparent;
        opacity: .7;
        border: none;
    }
}

/*  Menú de Hamburguesa   */
.mobile-menu{
    @include tablet{
        display: none;
    }
    width: 5rem;
}
.mostrar{
    display: flex;
    @include tablet{
        flex-direction: row;
    }
}
.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet{
        align-items: flex-end   ;
    }
    .dark-mode-boton{
        width: 3rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        filter: invert(100%);
        &:hover{
            cursor: pointer;
        }
        @include tablet{
            margin-top: 0;
        }
    }

}