@import 'base/normalize';
@import 'base/variables';
@import 'base/mixins';
@import 'base/globales';
@import 'base/utilidades';
@import "base/darkMode";

/** UI **/
@import "layout/header";
@import "layout/footer";
@import "layout/navegacion";
@import "layout/iconos";
@import "layout/anuncio";
@import "base/botones.scss";
@import "layout/contactar";
@import "layout/inferior";
@import "layout/comentarios";
@import "layout/formulario";


/**** Internas ****/
@import "internas/nosotros";
@import "internas/admin";